In [1]:
print("hello")

hello

In [2]:
import json

with open('secrets.json', 'r') as file:
    secret_data = json.load(file)

In [3]:
api_data_start = "2020-01-01"

api_key_arg = "&api_key=" + secret_data.get("api_key")
api_start_arg = "&start=" + api_data_start

In [4]:
###data_endpoint = "https://api.eia.gov/v2/electricity/rto/daily-region-sub-ba-data/data/?frequency=daily&data[0]=value&start=2025-03-15&sort[0][column]=period&sort[0][direction]=desc&offset=0"

In [5]:
data_endpoint = "https://api.eia.gov/v2/electricity/rto/daily-region-data/data/?frequency=daily&data[0]=value&facets[respondent][]=NY&facets[timezone][]=Eastern&facets[type][]=D&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=5000"

In [6]:
import requests
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [ ]:


response = requests.get(data_endpoint+api_start_arg+api_key_arg)

if response.status_code == 200:
    data = response.json()
    print("request succeeded")

else:
    print(f"request failed, code:  {response.status_code}")

In [ ]:
#data.get("response").get("data")

In [7]:
raw_df = pd.DataFrame(data.get("response").get("data"))
#raw_df
##df = pd.DataFrame(data.get("data"))

NameError: name 'pd' is not defined

In [8]:
raw_df.to_csv('test-data.csv')

NameError: name 'raw_df' is not defined

In [9]:
from pyspark.sql import SparkSession
import os

os.system("hdfs dfs -put -f ./test-data.csv /testdata/")


spark = SparkSession.builder \
    .appName("Power Demand Tracker") \
    .getOrCreate()

df_spark = spark.read.csv('hdfs:///testdata/test-data.csv', header=True, inferSchema=True)

df_spark.show()

25/03/31 20:38:18 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.
25/03/31 20:38:31 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , period, respondent, respondent-name, type, type-name, timezone, timezone-description, value, value-units
 Schema: _c0, period, respondent, respondent-name, type, type-name, timezone, timezone-description, value, value-units
Expected: _c0 but found:
CSV file: hdfs://localhost:9000/testdata/test-data.csv

+---+----------+----------+---------------+----+---------+--------+--------------------+------+-------------+
|_c0|    period|respondent|respondent-name|type|type-name|timezone|timezone-description| value|  value-units|
+---+----------+----------+---------------+----+---------+--------+--------------------+------+-------------+
|  0|2025-03-30|        NY|       New York|   D|   Demand| Eastern|             Eastern|360251|megawatthours|
|  1|2025-03-29|        NY|       New York|   D|   Demand| Eastern|             Eastern|356584|megawatthours|
|  2|2025-03-28|        NY|       New York|   D|   Demand| Eastern|             Eastern|373815|megawatthours|
|  3|2025-03-27|        NY|       New York|   D|   Demand| Eastern|             Eastern|371568|megawatthours|
|  4|2025-03-26|        NY|       New York|   D|   Demand| Eastern|             Eastern|383131|megawatthours|
|  5|2025-03-25|        NY|       New York|   D|   Demand| Eastern|             Eastern|378674|megawatthours|
|  6|2025-03-24|        NY|       New York|   D|   Demand| Eastern|             Eastern|398827|megawatthours|
|  7|2025-03-23|        NY|       New York|   D|   Demand| Eastern|             Eastern|351612|megawatthours|
|  8|2025-03-22|        NY|       New York|   D|   Demand| Eastern|             Eastern|354942|megawatthours|
|  9|2025-03-21|        NY|       New York|   D|   Demand| Eastern|             Eastern|360106|megawatthours|
| 10|2025-03-20|        NY|       New York|   D|   Demand| Eastern|             Eastern|365904|megawatthours|
| 11|2025-03-19|        NY|       New York|   D|   Demand| Eastern|             Eastern|354325|megawatthours|
| 12|2025-03-18|        NY|       New York|   D|   Demand| Eastern|             Eastern|367109|megawatthours|
| 13|2025-03-17|        NY|       New York|   D|   Demand| Eastern|             Eastern|383316|megawatthours|
| 14|2025-03-16|        NY|       New York|   D|   Demand| Eastern|             Eastern|350585|megawatthours|
| 15|2025-03-15|        NY|       New York|   D|   Demand| Eastern|             Eastern|353508|megawatthours|
| 16|2025-03-14|        NY|       New York|   D|   Demand| Eastern|             Eastern|362794|megawatthours|
| 17|2025-03-13|        NY|       New York|   D|   Demand| Eastern|             Eastern|374367|megawatthours|
| 18|2025-03-12|        NY|       New York|   D|   Demand| Eastern|             Eastern|380035|megawatthours|
| 19|2025-03-11|        NY|       New York|   D|   Demand| Eastern|             Eastern|360839|megawatthours|
+---+----------+----------+---------------+----+---------+--------+--------------------+------+-------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import col


filtered_spark_df = df_spark.select(
    col("period").alias("Date"),
    col("value").alias("MWh")
)

In [11]:
#filtered_spark_df = df_spark.select('period', 'value')

In [12]:
filtered_spark_df.show()

+----------+------+
|      Date|   MWh|
+----------+------+
|2025-03-30|360251|
|2025-03-29|356584|
|2025-03-28|373815|
|2025-03-27|371568|
|2025-03-26|383131|
|2025-03-25|378674|
|2025-03-24|398827|
|2025-03-23|351612|
|2025-03-22|354942|
|2025-03-21|360106|
|2025-03-20|365904|
|2025-03-19|354325|
|2025-03-18|367109|
|2025-03-17|383316|
|2025-03-16|350585|
|2025-03-15|353508|
|2025-03-14|362794|
|2025-03-13|374367|
|2025-03-12|380035|
|2025-03-11|360839|
+----------+------+
only showing top 20 rows

In [13]:
#df = raw_df[['period', 'value']]

In [14]:
from pyspark.sql import functions as F

In [15]:
features_df = filtered_spark_df.withColumn("Day", F.dayofweek("Date"))
features_df = features_df.withColumn("Month", F.month("Date"))
features_df.show()

+----------+------+---+-----+
|      Date|   MWh|Day|Month|
+----------+------+---+-----+
|2025-03-30|360251|  1|    3|
|2025-03-29|356584|  7|    3|
|2025-03-28|373815|  6|    3|
|2025-03-27|371568|  5|    3|
|2025-03-26|383131|  4|    3|
|2025-03-25|378674|  3|    3|
|2025-03-24|398827|  2|    3|
|2025-03-23|351612|  1|    3|
|2025-03-22|354942|  7|    3|
|2025-03-21|360106|  6|    3|
|2025-03-20|365904|  5|    3|
|2025-03-19|354325|  4|    3|
|2025-03-18|367109|  3|    3|
|2025-03-17|383316|  2|    3|
|2025-03-16|350585|  1|    3|
|2025-03-15|353508|  7|    3|
|2025-03-14|362794|  6|    3|
|2025-03-13|374367|  5|    3|
|2025-03-12|380035|  4|    3|
|2025-03-11|360839|  3|    3|
+----------+------+---+-----+
only showing top 20 rows

In [16]:
## Writes back data to Hadoop
#features_df.write.option("header", True).mode("overwrite").csv("hdfs:////user/hduser/unscaled-data")

features_df.write.mode("overwrite").option("header", True).csv("hdfs:///unscaled/")

In [17]:
#features_df.coalesce(1).write.option("header", True).mode("overwrite").csv("/.unscaled-data")

In [18]:
#os.getcwd()

In [19]:
#features_df.write.csv(os.getcwd()+"/newtest")

In [20]:
df_spark_test = spark.read.option("header", True).option("inferSchema", True).csv("hdfs:///unscaled/")
df_spark_test.show()


##hdfs dfs -getmerge /unscaled/ ./unscaled-data.csv

+----------+------+---+-----+
|      Date|   MWh|Day|Month|
+----------+------+---+-----+
|2025-03-30|360251|  1|    3|
|2025-03-29|356584|  7|    3|
|2025-03-28|373815|  6|    3|
|2025-03-27|371568|  5|    3|
|2025-03-26|383131|  4|    3|
|2025-03-25|378674|  3|    3|
|2025-03-24|398827|  2|    3|
|2025-03-23|351612|  1|    3|
|2025-03-22|354942|  7|    3|
|2025-03-21|360106|  6|    3|
|2025-03-20|365904|  5|    3|
|2025-03-19|354325|  4|    3|
|2025-03-18|367109|  3|    3|
|2025-03-17|383316|  2|    3|
|2025-03-16|350585|  1|    3|
|2025-03-15|353508|  7|    3|
|2025-03-14|362794|  6|    3|
|2025-03-13|374367|  5|    3|
|2025-03-12|380035|  4|    3|
|2025-03-11|360839|  3|    3|
+----------+------+---+-----+
only showing top 20 rows

In [21]:
## RNN

In [42]:
RNN_df = features_df.select("Date", "MWh")

In [51]:
from pyspark.ml.feature import MinMaxScaler, VectorAssembler
assembler = VectorAssembler(inputCols=["MWh"], outputCol="feature_MWh")
df_vec = assembler.transform(RNN_df)


scaler = MinMaxScaler(inputCol="feature_MWh", outputCol="scaled_MWh")
scaler_model = scaler.fit(df_vec)
scaled_df = scaler_model.transform(df_vec)

In [52]:
scaled_df.show()

+----------+------+-----------+--------------------+
|      Date|   MWh|feature_MWh|          scaled_MWh|
+----------+------+-----------+--------------------+
|2025-03-30|360251| [360251.0]|[0.16638138061417...|
|2025-03-29|356584| [356584.0]|[0.15467081395942...|
|2025-03-28|373815| [373815.0]|[0.20969802258443...|
|2025-03-27|371568| [371568.0]|[0.20252222676408...|
|2025-03-26|383131| [383131.0]|[0.23944867405855...|
|2025-03-25|378674| [378674.0]|[0.22521524193960...|
|2025-03-24|398827| [398827.0]|[0.28957385928159...|
|2025-03-23|351612| [351612.0]|[0.13879272903786...|
|2025-03-22|354942| [354942.0]|[0.14942708599458...|
|2025-03-21|360106| [360106.0]|[0.16591832302897...|
|2025-03-20|365904| [365904.0]|[0.18443423943590...|
|2025-03-19|354325| [354325.0]|[0.1474566961320321]|
|2025-03-18|367109| [367109.0]| [0.188282407643963]|
|2025-03-17|383316| [383316.0]|[0.2400394716672628]|
|2025-03-16|350585| [350585.0]|[0.13551300393439...|
|2025-03-15|353508| [353508.0]|[0.14484760615195...|
|2025-03-14|362794| [362794.0]|[0.1745024526084513]|
|2025-03-13|374367| [374367.0]|[0.21146083490879...|
|2025-03-12|380035| [380035.0]|[0.22956159623933...|
|2025-03-11|360839| [360839.0]|[0.16825915895968...|
+----------+------+-----------+--------------------+
only showing top 20 rows

In [55]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import DoubleType

extract_element = udf(lambda v: float(v[0]), DoubleType())

RNN_df_scaled = scaled_df.withColumn("scaled_MWh", extract_element(col("scaled_MWh")))
final_RNN_df_scaled.select("Date", "MWh", "scaled_MWh").show()

+----------+------+-------------------+
|      Date|   MWh|         scaled_MWh|
+----------+------+-------------------+
|2025-03-30|360251|0.16638138061417404|
|2025-03-29|356584|0.15467081395942978|
|2025-03-28|373815|0.20969802258443618|
|2025-03-27|371568|0.20252222676408974|
|2025-03-26|383131|0.23944867405855605|
|2025-03-25|378674|0.22521524193960452|
|2025-03-24|398827|0.28957385928159013|
|2025-03-23|351612|0.13879272903786216|
|2025-03-22|354942|0.14942708599458382|
|2025-03-21|360106|0.16591832302897144|
|2025-03-20|365904|0.18443423943590007|
|2025-03-19|354325| 0.1474566961320321|
|2025-03-18|367109|  0.188282407643963|
|2025-03-17|383316| 0.2400394716672628|
|2025-03-16|350585|0.13551300393439272|
|2025-03-15|353508|0.14484760615195955|
|2025-03-14|362794| 0.1745024526084513|
|2025-03-13|374367|0.21146083490879364|
|2025-03-12|380035|0.22956159623933373|
|2025-03-11|360839|0.16825915895968527|
+----------+------+-------------------+
only showing top 20 rows

To install keras and tensorflow


sudo apt update
sudo apt install python3-venv python3-pip -y

python3 -m venv keras-env
source keras-env/bin/activate

pip install --upgrade pip
pip install keras tensorflow


source keras-env/bin/activate
source /home/hduser/Documents/GitHub/CCT-SEM2-CA1/SEM2-CA--HADOOP-SPARK/keras-env/bin/activate



pip install jupyter ipykernel

python -m ipykernel install --user --name=keras-env --display-name="Python (keras-env)"

In [22]:
# Spark Session, Pipeline, Functions, and Metrics
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.ml import Pipeline
from pyspark.sql.functions import rand
from pyspark.mllib.evaluation import MulticlassMetrics






##pip install keras tensorflow

In [ ]:
# Keras / Deep Learning
from keras.models import Sequential
#from keras.layers.core import Dense, Dropout, Activation
#from keras import optimizers, regularizers
#from keras.optimizers import Adam

In [ ]:
# Elephas for Deep Learning on Spark
from elephas.ml_model import ElephasEstimator

In [23]:
#df.dtypes

In [24]:
#df['value'] = pd.to_numeric(df['value'], errors='coerce')
#df['period'] = pd.to_datetime(df['period'])
#df.set_index('period', inplace=True)

In [25]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates



#fig, ax = plt.subplots()
#df.plot(ax=ax)

#ax.xaxis.set_major_locator(mdates.MonthLocator(interval=3))

#ax.xaxis.set_major_formatter(mdates.DateFormatter('%Y-%m-%d'))

#plt.xticks(rotation=45)
#plt.tight_layout()
#plt.show()

In [26]:
#sns.pairplot(df)

In [27]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler()

In [28]:
#df.shape

In [29]:
#test_df = df.copy()

In [30]:
#training_data = test_df.iloc[:,0].values

In [31]:
#training_data = scaler.fit_transform(training_data.reshape(-1, 1))

In [32]:
#scaler.fit(df)
#scaled_data = scaler.transform(df)

In [33]:
#sns.pairplot(scaled_data)

In [34]:
#training_data.shape

In [35]:
#new_test_df = pd.DataFrame(training_data)

In [36]:
#sns.pairplot(new_test_df)

Save Data to HDFS

In [37]:
## Save df as csv

##df.to_csv('test-data.csv')

In [38]:
## upload to Hadoop

#import os

#os.system("hdfs dfs -put -f ./test-data.csv /testdata/")

In [39]:
#

In [40]:
#from pyspark.sql import SparkSession
#import os

#os.system("hdfs dfs -put -f ./test-data.csv /testdata/")


#park = SparkSession.builder \
   # .appName("Power Demand Tracker") \
 #  .getOrCreate()

#df_spark = spark.read.csv('hdfs:///testdata/test-data.csv', header=True, inferSchema=True)

#df_spark.show()

In [41]:
#df_spark